[Unit]
Description=Systemd timer to update Flatpak programs daily

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=900
Unit=flatpak-background-update.service

[Install]
WantedBy=timers.target
