[Unit]
Description=Flatpak Automatic Updates
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/flatpak update -y

[Install]
WantedBy=multi-user.target
